header {
  display: flex;
  flex-direction: row;
  background-color: lightskyblue;
  height: 50px;
  padding: 10px;
  color: white;
  text-align: center;
  justify-content: center;
}
header img {
 width: 10%;
 padding: 2%;
 align-content: space-between;
 margin-left: 2%;
}
